.main {
  max-width: 960px;
  margin: 0 auto 0 auto;
  background-color: #fff;
  display: grid;
  grid-template-rows: auto 1fr auto;
  height: 100vh;
  padding: 1rem;
}
header {
  padding: 1rem;
  background-color: #fcfcfc;
  font-size: 2em;
  text-align: center;
}

.container__calc {
  width: 100%;
}

footer {
  padding: 1rem;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
}

.link {
  color: #8a8a8a;
  margin-top: 0.5em;
}

.number {
  font-size: 1.5em;
}

.error {
  font-size: 1.1em;
  padding: 0.3em;
  background-color: rgb(226, 162, 162);
}
